DAO_API_ORIGIN=http://localhost:3000
NEXT_PUBLIC_CYBERCHAIN_RPC_URL=http://cyberchain-bc.bisite.es:8545
NEXT_PUBLIC_CYBERCHAIN_CHAIN_ID=1212
NEXT_PUBLIC_CYBERCHAIN_NAME=CyberChain
NEXT_PUBLIC_CYBERCHAIN_CURRENCY_SYMBOL=CYBER
