DAO_API_ORIGIN=http://localhost:3000
NEXT_PUBLIC_CYBERCHAIN_RPC_URL=http://cyberchain-bc.bisite.es:8545
NEXT_PUBLIC_CYBERCHAIN_CHAIN_ID=1212
NEXT_PUBLIC_CYBERCHAIN_NAME=CyberChain
NEXT_PUBLIC_CYBERCHAIN_CURRENCY_SYMBOL=CYBER
NEXT_PUBLIC_DAO_ADMIN_ADDRESS=0xb8163f7d6d404f67a400743b90f7952d2d137b8e
